.App {
  text-align: center;
}

html {
  background: #8bebdf;
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  align-items: flex-end;
  margin-bottom: 60px;
}

.form-name-container, .form-timeZone-container {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

#form-name, #form-timeZone {
  border-radius: 5px;
  border: 3px solid #2e9a8b;
  background-color: #edfaf8;
}

.form-label-name, .form-label-timeZone {
  color: #2e9a8b; 
}

#form-ok {
  width: 100px;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  border: 3px solid #a76332;
  background-color: #ffc297;
  color: #a76332;
  font-size: 17px;
}

.button-delete {
  width: 15px;
  margin-left: 350px;
  color: #2e9a8b;
  font-size: 30px;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 7px solid #545271;
  border-radius: 50%;
  margin: 20px;
  margin-top: -30px;
  position: relative;
  padding: 2rem;
  -webkit-box-shadow: 0 20px 30px rgba(104,75,106,0.65);
  -moz-box-shadow: 0 20px 30px rgba(104,75,106,0.65);
  box-shadow: 0 20px 30px rgba(104,75,106,0.65);
  background: #545271;
}

.outer-clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #fefefc;
  -webkit-box-shadow: 0 20px 10px rgba(62,47,63,0.45);
  -moz-box-shadow: 0 20px 10px rgba(62,47,63,0.45);
  box-shadow: 0 20px 10px rgba(62,47,63,0.45);
  overflow: hidden;
}

.outer-clock-face::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg)
}

.outer-clock-face::before,
.outer-clock-face::after,
.outer-clock-face .marking{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #b8b8c5;
  z-index: 0;
  left: 49%;
}

.outer-clock-face .marking {
  background: #bdbdcb;
  width: 3px;
}

.outer-clock-face .marking.marking-one {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg)
}

.outer-clock-face .marking.marking-two {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg)
}

.outer-clock-face .marking.marking-three {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  transform: rotate(120deg)
}

.outer-clock-face .marking.marking-four {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  transform: rotate(150deg)
}

.inner-clock-face {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: #fefefc;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
}

.inner-clock-face::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 18px;
  margin-left: -9px;
  margin-top: -6px;
  background: #4d4b63;
  z-index: 11;
}

.hand {
  width: 50%;
  right: 50%;
  height: 6px;
  background: #61afff;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.hour-hand {
  width: 20%;
  z-index: 3;
  background: #4d4b63;
}

.hand.min-hand {
  height: 4px;
  z-index: 10;
  width: 35%;
}

.hand.second-hand {
  background: #ff5e5e;
  width: 45%;
  height: 2px;
}

.clock-name {
  margin-bottom: 10px;
  font-size: 30px;
  color: #2e9a8b;
}

.watches-container {
  display: flex;
  flex-direction: row;
}